branca==0.5.0
DateTime==4.4
Django==4.0.6
django-bootstrap3==22.1
django-braces==1.15.0
html5lib==1.1
htmlmin==0.1.12
ImageHash==4.2.1
pytest==7.1.1
pytest-shutil==1.7.0
python-dateutil==2.8.2
requests==2.27.1
tzdata==2022.1
